In [4]:
pip install pandas

Requirement already satisfied: pandas in c:\users\dsadm\appdata\local\programs\python\python311\lib\site-packages (2.1.1)
Requirement already satisfied: numpy>=1.23.2 in c:\users\dsadm\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.25.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dsadm\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dsadm\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\dsadm\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\dsadm\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import pandas as pd

In [ ]:
#EXERCICIO 1

In [11]:
# Cria o dicionário
Dicionario = {
    "ID": [1,2,3,4,5,6],
    "Nomes": ['Alice', 'Julia', 'Bruna', 'Daniel', 'Filipe', 'Silvio'],
    "Idade": [19,22,28,34,28,48],
    "Profissões": ['Direito', 'Engenharia', 'Enfermagem', 'Engenheiro Civil', 'Cientista de Computação', 'Engenheiro Eletrônico']
}

In [24]:
labels = ["1ª Linha", "2ª Linha", "3ª Linha", "4ª Linha", "5ª Linha", "6ª Linha"]

# Cria o DataFrame a partir do dicionário Dicionario
dados = pd.DataFrame(Dicionario, index=labels)

# Exibe as primeiras linhas do DataFrame
dados.head(7)

          ID   Nomes  Idade               Profissões
1ª Linha   1   Alice     19                  Direito
2ª Linha   2   Julia     22               Engenharia
3ª Linha   3   Bruna     28               Enfermagem
4ª Linha   4  Daniel     34         Engenheiro Civil
5ª Linha   5  Filipe     28  Cientista de Computação
6ª Linha   6  Silvio     48    Engenheiro Eletrônico

In [ ]:
#EXERCICIO 2

In [13]:
# Cria o dicionário
Dicionario2 = {
    "ID": [1,2,3,4],
    "Numero de produtos fabricados": [50,30,40,100]
}

In [14]:
labels2 = ["1ª Linha", "2ª Linha", "3ª Linha", "4ª Linha"]

# Cria o DataFrame a partir do dicionário Dicionario
dados2 = pd.DataFrame(Dicionario2, index=labels2)

# Exibe as primeiras linhas do DataFrame
dados2.head()

          ID  Numero de produtos fabricados
1ª Linha   1                             50
2ª Linha   2                             30
3ª Linha   3                             40
4ª Linha   4                            100

In [ ]:
#EXERCICIO 3

In [20]:
# Cria o dicionário
Dicionario3 = {
    "ID": [1,2,3,4],
    "Nome": ['Ana', 'Pedro', 'Maria', 'João'],
    "Setores": ['RH', 'Vendas', 'Administrativo', 'Produção']
}

Dicionario4 = {
    "ID": [1,2,3,4],
    "Salarios": [3000,2800,3200,2500]
}

In [30]:
Labels3 = ["1ª Linha", "2ª Linha", "3ª Linha", "4ª Linha"]
Labels4 = ['5ª linha', '6ª linha', '7ª linha', '8ª linha']

# Cria o DataFrame a partir do dicionário Dicionario
dados3 = pd.DataFrame(Dicionario3, index=Labels3)
dados4 = pd.DataFrame(Dicionario4, index=Labels4)

In [32]:
dados_df = pd.merge(dados3, dados4,how='inner',on='ID')

dados_df.head(5)

   ID   Nome         Setores  Salarios
0   1    Ana              RH      3000
1   2  Pedro          Vendas      2800
2   3  Maria  Administrativo      3200
3   4   João        Produção      2500

In [1]:
#EXERCICIO 4

In [6]:
# Cria o dicionário
Dicionario5 = {
    "Produto": ["Item A","Item B", "Item A"],
    "Quantidade": [10, 5, 8],
    "Valor": [100, 50, 80],
    "Data": ['2023-01-01', '2023-01-02', '2023-01-03']
}

Dicionario6 = {
    "Produto": ["Item C","Item B", "Item D"],
    "Quantidade": [12, 6, 3],
    "Valor": [120, 60, 30],
    "Data": ['2023-02-01', '2023-02-02', '2023-02-03']
}

In [16]:
Labels5 = ["1ª Linha", "2ª Linha", "3ª Linha"]
Labels6 = ['4ª linha', '5ª linha', '6ª linha']

# Cria o DataFrame a partir do dicionário Dicionario
dados5 = pd.DataFrame(Dicionario5, index=Labels5)
dados6 = pd.DataFrame(Dicionario6, index=Labels6)

In [21]:

# Concatena os DataFrames verticalmente
dados_concat = pd.concat([dados5, dados6], ignore_index=True)

print (dados_concat)
print (dados_concat)

  Produto  Quantidade  Valor        Data
0  Item A          10    100  2023-01-01
1  Item B           5     50  2023-01-02
2  Item A           8     80  2023-01-03
3  Item C          12    120  2023-02-01
4  Item B           6     60  2023-02-02
5  Item D           3     30  2023-02-03
  Produto  Quantidade  Valor        Data
0  Item A          10    100  2023-01-01
1  Item B           5     50  2023-01-02
2  Item A           8     80  2023-01-03
3  Item C          12    120  2023-02-01
4  Item B           6     60  2023-02-02
5  Item D           3     30  2023-02-03